.CopyText {
  overflow: hidden;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  background-color: #333;
  border-radius: 10px;
  position: relative;

  &:hover .btn {
    visibility: visible;
    opacity: 1;
  }

  .htmlDiv {
    flex: 1;
    overflow: hidden;
    padding: 5px 0;
  }

  .btn {
    overflow: hidden;
    visibility: hidden;
    padding: 3px 10px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    opacity: 0;
  }
}
