.SwiperVideo {
  width: 100%;
  overflow: hidden;

  .video {
    overflow: hidden;
    border-radius: 5px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 30px;
    height: 30px;
    overflow: hidden;
    padding: 10px;
    margin: 10px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    background-color: #333;
    border-radius: 5px;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
      overflow: hidden;
      color: #fff;
    }
  }
  .swiper-button-prev {
    transform: rotate(-180deg);
  }
}
