.LineNum {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #eee;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;

  .line {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    background-color: lightblue;
  }
}
