.LineVideo {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .leftDiv {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .one {
      overflow: hidden;
      padding: 5px 20px;
      margin: 10px 0 0 0;
      border: 1px solid #eee;
      border-radius: 5px;
    }
  }

  .rightDiv {
    overflow: hidden;
    position: relative;

    .video {
      height: 100%;
      aspect-ratio: 3840 / 2160;
      overflow: hidden;
      background-color: #000;
      border-radius: 10px;
    }

    .divDiv {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      .echartsDiv {
        height: 100%;
        overflow: hidden;
        position: relative;

        .echarts {
          height: 100%;
          overflow: hidden;
        }

        .tipDiv {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;

          .tip {
            width: 100px;
            overflow: hidden;
            padding: 0 5px;
            text-align: center;
            background-color: #fff;
            border-radius: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: absolute;
            top: 10px;
            z-index: 2;
          }

          .num {
            width: 100px;
            overflow: hidden;
            padding: 0 5px;
            text-align: center;
            background-color: #fff;
            border-radius: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: absolute;
            bottom: calc(70px + 20px);
            z-index: 2;
          }

          .btnDiv {
            width: calc(100% - 10px * 2);
            height: 70px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-radius: 10px;
            position: absolute;
            left: 10px;
            bottom: 10px;
            z-index: 2;

            .btnDivBor {
              width: calc(100% - 20px * 2);
              height: 1px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              border-bottom: 2px dashed #eee;

              .btn {
                width: 50px;
                overflow: hidden;
                padding: 3px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                color: #fff;
                background-color: orange;
                border-radius: 5px;
                user-select: none;
              }
            }
          }
        }
      }
    }
  }
}
